# Version control directories
.git/
.github/
.gitignore

# IDE/Editor directories
.idea/
.vscode/

# Dependency directories
**/node_modules/
**/bin/
**/obj/

# Build results
**/*.dll
**/*.exe
**/*.pdb

# User-specific files
**/*.user
**/*.vs/
**/*.swp
**/*.swo

# Configuration files
**/*.DotSettings.user

# Other
**/README.md
**/*.png
**/*.xml
**/*.lock.json
**/*.lock.yml
**/*.lock
docker-compose.yml
Dockerfile
.env
